.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  display: flex;
  border: 1px solid #d6d6d6;
  min-width: 200px;
  min-height: 200px;
  flex-wrap: wrap;
}
.circle {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.colorwidget {
  margin: 5%;
}
